!!!
%html
  %head
    %title SimpleNavBugDemo
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :css
      .selected>a {color: green;}
      .active>a {color: red;}
      .name {color: blue;}
    %body
    = render_navigation(expand_all: true)
    active_navigation_item_name: 
    .name= active_navigation_item_name
    = yield